<div class="container">
  <div class="row">
    <app-cockpit 
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
      >
    </app-cockpit>
  </div>
  <hr>
  
  <button class="btn btn-primary" (click)="onChangeFirst()">Chenge First Element</button>
  <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First component</button>
  <app-server-element 
    *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
    [name]="serverElement.name"
    >
    <p #contentParagraph>
      <strong 
        *ngIf="serverElement.type === 'server'" 
        style="color: red">{{ serverElement.content }}
      </strong>
      <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
    </p>
  </app-server-element>
</div>
<hr>
<app-drectives-study></app-drectives-study>

<hr>
<!-- learnig about services  -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        ></app-account>
    </div>
  </div>
</div>
<!-- finished service learning section  -->
<hr>

<!-- learning section about routing -->
<div class="container">
  <h1 style="text-align: center;">Learnig about routing</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li 
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <a 
            routerLink="/"
            >Home</a>
        </li>

        <li 
          role="presentation"
          routerLinkActive="active">
          <a 
            routerLink="/servers"
            >Servers
          </a>
        </li>
        
        <li 
          role="presentation"
          routerLinkActive="active">
          <a 
            [routerLink]="['/users']"
            >Users
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /learning section about routing -->
<hr>

<!-- learngin observables -->
<h2 style="text-align: center;">learning Observable</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a> |
      <a [routerLink]="['user', 1]">
        User 1
      </a>
      |
      <a [routerLink]="['user', 2]">
        User 2
      </a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /learning observables -->

<!-- learning handling forms  -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <!-- form template driven  -->
      <form (ngSubmit)="suggestUserName()" #f="ngForm">
        <div 
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">

          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username" 
              class="form-control"
              ngModel
              [placeholder]="defaultUserName"
              name="username"
              required>
          </div>

          <button 
            class="btn btn-default" 
            type="button"
            (click)="suggestUserName()">
              Suggest an Username
          </button>

          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              ngModel
              name="email"
              [placeholder]="defaultEmail"
              required
              email
              #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
          
          <div>
            <p *ngIf="!userData.invalid && userData.touched">User data is invalid</p>
          </div>
        </div>

        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            id="secret" 
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
              type="radio" 
              name="gender"
              ngModel
              [value]="gender"
              required>
              {{ gender }}
          </label>
        </div>

        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid"
          (click)="onSubmit()">
            Submit
        </button>

      </form>
      <!-- /form template driven -->
      <hr>

      <!-- reactive form -->
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <h2 style="text-align: center;">Reactive Form</h2>
          <form [formGroup]="reactiveSignupForm" (ngSubmit)="onSubmitReactive()">

            <!-- nexted form : userData -->
            <div formGroupName="userData">

                <!-- username input -->
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="Username">

                  <!-- error message with conditions -->
                  <p *ngIf="!reactiveSignupForm.get('userData.Username').valid &&
                      reactiveSignupForm.get('userData.Username').touched">
                      <span *ngIf="reactiveSignupForm.get('userData.Username').errors['required']">
                        This field is required
                      </span>

                      <span *ngIf="reactiveSignupForm.get('userData.Username').errors['nameIsForbidden']">
                        This user name is invalid! try an another one
                      </span>
                  </p>
                  <!-- /error message with conditions -->

              </div>
              <!-- /username input -->
  
              <!-- email input -->
              <div class="form-group">
                <label for="email">email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  formControlName="email">
                  <span 
                    *ngIf="!reactiveSignupForm.get('userData.email').valid && 
                      reactiveSignupForm.get('userData.email').touched">
                    <span *ngIf="reactiveSignupForm.get('userData.email').errors['emailIsForbidden']">
                      This is an invalid email! try an another one
                    </span>

                    <span *ngIf="reactiveSignupForm.get('userData.email').errors['required']">
                      This field is required
                    </span>
                  </span>
              </div>
              <!-- /email input -->

            </div>
            <!-- /nexted form : userData -->

            <!-- gender selection radio button -->
            <div class="radio" *ngFor="let gender of genders">
              <label>
                <input
                  type="radio"
                  formControlName="gender"
                  [value]="gender">{{ gender }}
              </label>
            </div>
            <!-- gender selection radio button -->

            <button class="btn btn-primary" type="submit">Submit</button>

            <!-- add hobies -->
            <div formArrayName="hobbies">
              <h4>Your hobbies</h4>
              <button
                type="button"
                class="btn btn-default"
                (click)="onAddHobby()">
                Add hobby
              </button>
              <div 
                class="form-group"
                *ngFor="let hobbyControl of getControls(); let i = index">
                <input 
                  type="text"
                  class="form-control"
                  [formControlName]="i">
              </div>
            </div>
            <!-- /add hobies -->
            <span 
              *ngIf="!reactiveSignupForm.valid && reactiveSignupForm.touched">
                Please enter valid data!
            </span>
          </form>
        </div>
      </div>
      <!-- /reactive form -->
      <hr>
    </div>
  </div>
  <hr>
</div>
<!-- /learning handling forms  -->

<!-- learning pipes -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> | {{ server.instanceType }} | {{ server.started }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<!-- /learning pipes -->