<div class="container">
  <div class="row">
    <app-cockpit 
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
      >
    </app-cockpit>
  </div>
  <hr>
  
  <button class="btn btn-primary" (click)="onChangeFirst()">Chenge First Element</button>
  <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First component</button>
  <app-server-element 
    *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
    [name]="serverElement.name"
    >
    <p #contentParagraph>
      <strong 
        *ngIf="serverElement.type === 'server'" 
        style="color: red">{{ serverElement.content }}
      </strong>
      <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
    </p>
  </app-server-element>
</div>
<hr>
<app-drectives-study></app-drectives-study>

<hr>
<!-- learnig about services  -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        ></app-account>
    </div>
  </div>
</div>
<!-- finished service learning section  -->
<hr>

<!-- learning section about routing -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Servers</a></li>
        <li role="presentation"><a href="#">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div>
</div>
<!-- /learning section about routing -->
<hr>