<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>I am in the App component</h1>
            <hr>
            
            <!-- add your new component here -->
            <app-server></app-server>
            <hr>
            
            <app-servers></app-servers>
            <hr>
            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>

            <!-- second assignment -->
            <hr>
            <label>Username</label>
            <input 
                type="text"
                class="form-control"
                [(ngModel)]="username">
            
            <p>{{ username }}</p>
            <button 
                class="btn btn-primary" 
                [disabled]="username == ''"
                (click)="username = ''"
                >Reset user
            </button>
        </div>
    </div>
</div>
