<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="text">Example label</label>
      <input 
        type="text" 
        class="form-control" 
        name="text"
        [(ngModel)]="text"
        id="text" 
        placeholder="Add Task">
    </div>
    <div class="form-group">
      <label for="day">Day & Time</label>
      <input 
        type="text" 
        class="form-control" 
        name="day"
        [(ngModel)]="day"
        id="day" 
        placeholder="Add Day & Time">
    </div>
    <div class="form-group form-control-check">
        <label for="reminder">Set Reminder</label>
        <input 
          type="checkbox" 
          name="reminder"
          [(ngModel)]="reminder"
          id="reminder">
    </div>
    <input 
        type="submit"
        value="Save Task" 
        class="btn btn-block add-form">
  </form>